/* Tailwind core */
@layer theme, base, components, utilities;
@import "tailwindcss/theme"         layer(theme);
@import "tailwindcss/utilities"     layer(utilities);

/* Core CSS required for Ionic components to work properly */
@import '@ionic/vue/css/core.css'                       layer(theme);

/* Optional CSS utils that can be commented out */
@import '@ionic/vue/css/padding.css'                    layer(theme);
@import '@ionic/vue/css/float-elements.css'             layer(theme);
@import '@ionic/vue/css/text-alignment.css'             layer(theme);
@import '@ionic/vue/css/text-transformation.css'        layer(theme);
@import '@ionic/vue/css/flex-utils.css'                 layer(theme);
@import '@ionic/vue/css/display.css'                    layer(theme);

@import '@ionic/vue/css/normalize.css'                  layer(theme);
@import '@ionic/vue/css/structure.css'                  layer(theme);
@import '@ionic/vue/css/typography.css'                 layer(theme);

/* @import '@ionic/vue/css/palettes/dark.always.css'; */
@import '@ionic/vue/css/palettes/dark.class.css'        layer(theme);
/*@import '@ionic/vue/css/palettes/dark.system.css'       layer(theme);*/

/* Custom reset */
@import "./reset.css"                                   layer(base);
/* Theme variables */
@import '../theme/variables.css'                        layer(base);

/* Custom utilities */
@import './utils.css'                                   layer(utilities);


@font-face {
    font-family: NotoColorEmojiLimited;
    unicode-range: U+1F1E6-1F1FF;
    src: url(https://raw.githack.com/googlefonts/noto-emoji/main/fonts/NotoColorEmoji.ttf);
}

@theme {
    --font-display: "Inter", sans-serif;
    --emoji-font: 'NotoColorEmojiLimited';
    --color-primary: #181818;
    --color-secondary: #ffffff;
    --color-background: #f9f9f9;
}

