/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

:root {
    --ion-color-primary: var(--color-primary)!important;
    --ion-color-secondary:  var(--color-secondary)!important;
    --ion-background-color:  var(--color-background)!important;
    --ion-text-color: var(--ion-color-primary)!important;
    --ion-font-family: "Inter", -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Roboto', sans-serif!important;
    --ion-tab-bar-background: var(--ion-color-primary)!important;
    --ion-tab-bar-color: var(--ion-background-color)!important;
    --ion-tab-bar-color-selected: var(--ion-color-secondary)!important;
    --ion-card-background: var(--ion-color-secondary)!important;
    --ion-card-color: var(--ion-color-primary)!important;
    --ion-toolbar-color: var(--ion-color-secondary)!important;
    --ion-toolbar-background: var(--ion-color-primary)!important;
    --ion-item-background: var(--ion-color-secondary)!important;
}



/*!* Set text color of the entire app for iOS only *!*/
/*:root.ios {*/
/*    --ion-text-color: */
/*    --ion-background-color: #f9f9f9;*/
/*    --ion-color-primary: #181818;*/
/*    --ion-color-secondary: #ffffff;*/
/*    --ion-font-family: "Inter", -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Roboto', sans-serif;*/
/*}*/

/*!* Set text color of the entire app for Material Design only *!*/
/*:root.md {*/
/*    --ion-text-color: #181818;*/
/*    --ion-background-color: #f9f9f9;*/
/*    --ion-color-primary: #181818;*/
/*    --ion-color-secondary: #ffffff;*/
/*    --ion-font-family: "Inter", -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Roboto', sans-serif;*/
/*}*/
